
@media screen and (max-width:1000px) {
   

    .car-section{
        flex-direction: column;
        height:30vh;
        width: 100%;
        overflow: hidden;
        
    }

    .car-content{
        width: 100%;
        overflow: hidden;
    }

    .car-content-2{
        width:100%;

    }
    
 

    #img-car-left{
        width: 100%;
        height: 50vh;
        
    }
    
    #img-car-right{
        width: 100%;
        height: 50vh;
       
        
    }

    footer .footer-top{
        width: 50%;
    }

    
.bike_list{
    width:100%;
   height:30vh;
    
   
}


   
}

